<div class="p-6">
  <h2 class="text-2xl font-bold mb-6">Add a New User</h2>

  <form
    [formGroup]="userForm"
    (ngSubmit)="onSave()"
    class="max-w-xl bg-white dark:bg-slate-800 p-8 rounded-lg shadow-md"
  >
    <div class="space-y-4">
      <div>
        <label for="firstName" class="form-label">First Name</label>
        <input
          data-cy="firstName-input"
          type="text"
          id="firstName"
          formControlName="firstName"
          class="form-input"
        />
      </div>
      <div>
        <label for="lastName" class="form-label">Last Name</label>
        <input
          data-cy="lastName-input"
          type="text"
          id="lastName"
          formControlName="lastName"
          class="form-input"
        />
      </div>
      <div>
        <label for="email" class="form-label">Email</label>
        <input
          data-cy="email-input"
          type="email"
          id="email"
          formControlName="email"
          class="form-input"
        />
      </div>
      <div>
        <label for="phone" class="form-label">Phone</label>
        <input
          data-cy="phone-input"
          type="tel"
          id="phone"
          formControlName="phone"
          class="form-input"
        />
      </div>
    </div>
    <div class="mt-8 flex justify-end gap-3">
      <button
        routerLink="/users"
        type="button"
        class="px-4 py-2 bg-slate-200 dark:bg-slate-600 rounded-lg"
      >
        Cancel
      </button>
      <button
        data-cy="save-user-button"
        type="submit"
        [disabled]="userForm.invalid"
        class="px-4 py-2 bg-blue-500 text-white rounded-lg disabled:bg-slate-400"
      >
        Save User
      </button>
    </div>
  </form>
</div>
